#root {
  display: flex;
  margin: 0px auto;
  padding: 2rem;
}

.container {
  display: flex;
  align-items: center;
  margin: 0px auto;
  justify-content: center;

  flex-direction: column;
}

nav {
  padding: 1vw;

  display: flex;

  align-items: center;

}

nav a {
  padding: 1vw;
  text-decoration: none;
}

/* Flashcard styling */

.flashcard {
  padding: 1vh 2vw;

  border-left-width: 1vb;
  border-left-color: #535bf2;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;

  border-right-width: 1vb;
  border-right-color: #535bf2;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;

  border-top: transparent;
  border-bottom: transparent;

  border-style: solid;
}

.flashcard:hover {
  cursor: pointer;
}

#flashcard-header {
  font-size: 2.5em;
}

#flashcard-description {
  font-size: 1.25em;
}